<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  <title>Stories</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="menu-button" class="menu-toggle"><%= image_tag "menu-white.svg" %></div>
	<div id="nav-menu">
		<div><%= image_tag "close-white.svg", :class => 'menu-toggle' %></div>
		<ul>
			<li><%= link_to 'Home', root_path %></li>
			<li><%= link_to 'About', about_path %></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>

<%= yield %>

<div class="footer">
	<div class="container-fluid">
		<p>A Shutterbugg Project</p>
	</div>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
